@font-face {
    font-family: "Montserrat";
    src: url(../../public/fonts/Montserrat.ttf);
}

*, *::after, *::before {
    box-sizing: border-box;
    font-family: "Montserrat";
    scroll-behavior: smooth;
}